.table{
    /* width: auto; */
    max-width: 90%;
    /* min-width: 700px; */
    height: auto;
    font-family: 'Open Sans', sans-serif;
    border: 4px solid black;
}

.tabulator-headers{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.modal{
    position: absolute;
    width: 430px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: rgb(225, 231, 241); */
    /* background-color: rgb(204, 204, 204); */
    background-color: #fff;
    border-radius: 10px 0 10px 0;
    border: 2px solid black;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    z-index: -1;
    font-family: 'Oswald', sans-serif;
}

.modal h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.icon-close{
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    color: gray;
    cursor: pointer;
}

.icon-close:hover{
    color: black;
}

.modal-wrapper div{
    margin-bottom: 5px;
}

.modal-wrapper div label{
    margin-right: 5px;
    text-transform: uppercase;
} 

/* .modal-info{
    display: flex;
    justify-content: space-between;
} */