#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Consulta2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Consulta1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-natureza {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-aplicar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-textBlock {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Line_1 {
  rotation: 90.0;
  margin-left: 366px;
  margin-top: -367px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Triangle_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: 0px;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}