#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Consulta2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Consulta1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Button_Inicio {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Table_1 {
  border-collapse: separate;
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-natureza {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-aplicar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-textBlock {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c #s-Triangle_2 {
  -ms-transform: rotate(180.0deg);
}
#s-395bd25f-5e0e-4128-85c0-e7bc8026e78c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}