* {
    box-sizing: border-box;
    margin: 0;
}

html, body, #root{
    height: 100vh;
}

.page-animation {
    position: absolute;
}

.app{
    margin: 0;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 15%;
    grid-template-areas: 
        "InfoBar Content"
        "InfoBar Nav";
    height: 100%;
    width: 100vw;
    background-color: #F5F5F5;
    background-color: rgb(205,215,231);
    grid-gap: 5px;
    position: relative;
}

.InfoBar {
    grid-area: InfoBar;
}

.Filters {
    grid-area: Filters;
    background-color: blue;
}

.Nav {
    grid-area: Nav;
}

main.Content {
    grid-area: Content;
}

.app p {
    font-family: 'Open Sans', sans-serif;
}

.app h1 {
    font-family: 'Oswald', sans-serif;
}

/* fade do menu e tabelas */ 
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}