.table{
    width: 81%;
    max-height: 80%;
    font-family: 'Open Sans', sans-serif;
    border: 4px solid black;
}

.tabulator-headers{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}