* {
    box-sizing: border-box;
    margin: 0;
}

.app{
    margin: 0;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 15% 1fr 15%;
    grid-template-areas: 
        "InfoBar Menu"
        "InfoBar Table"
        "InfoBar Nav";
    height: 100vh;
    background-color: #F5F5F5;
    grid-gap: 5px;

}

.InfoBar {
    grid-area: InfoBar;
}

.Menu {
    grid-area: Menu;
}

.Filters {
    grid-area: Filters;
    background-color: blue;
}

.Nav {
    grid-area: Nav;
}

.Table {
    grid-area: Table;
    background-color: green;
}

.app p {
    font-family: 'Open Sans', sans-serif;
}

.app h1 {
    font-family: 'Oswald', sans-serif;
}